*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
}


body{
    background:#82c8e5;
    color:#333;
}


/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}


.logo{
    font-size:30px;
    font-weight:bold;
    color:#e60012;
}

.logo span{
    color:#333;
}

.letter {
    width: 500px;
    min-height: 300px;

    background: #fffaf0;

    padding: 40px;

    margin: 50px auto;

    border-radius: 20px;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.1);

    font-family: "Georgia", serif;

    line-height: 1.8;

    position: relative;
}


/* little paper effect */

.letter::before {
    content: "💌";

    position: absolute;

    top: -25px;
    left: 50%;

    transform: translateX(-50%);

    font-size: 45px;
}


.letter h2 {
    text-align: center;
    color: #e60012;
}

.page {
    border: 12px solid white;
    border-radius: 50px;
    box-shadow:
        0 0 0 12px white,
        0 0 0 24px #2c6c8a;
}